# Ignore virtual environments
Zion-env/
Zion-gpu-env/

# Ignore temporary files
*.tmp
__pycache__/
*.pyc

# Ignore model downloads 
models/

# Ignore tests and personal data
test.py
test2.py
notes.txt
assets-pvt
references